:root {
  /* Color Variables */
  --primary-color: #e1574f;
  --secondary-color: #121100;
  --background-color: #fff7e1;
  --ui-color: #00151d;
  --font-color: #cd4b49;

  /* Size Variables */
  --content-width: 900px;
  --header-height: 70px;
  --golden-ratio: 1.618;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--font-color);
  size: 25px; 
}
p {
  color: var(--font-color);
}

/* header를 상단에 고정하고 전체 너비를 사용하게 함 */
header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: 1; /* 다른 요소들 위에 나타나도록 함 */
  display: flex;
  justify-content: center;
}

#logo {
  width: var(--header-height);
  height: var(--header-height);
  box-sizing: border-box; 
}

#exampleList {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme-item {
  padding: 0;
  margin: 0;
  height: 150px;
  width: 120px;
  list-style: none;
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--font-color);
  background-color: var(--ui-color);
}

#inputSection {
  padding: 0;
  margin: 0;
  background-image: url('./assets/banner.jpg');
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  background-color: #00ff00;
}

#inputForm {
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.theme {
  color: var(--font-color);
  background-color: var(--background-color);
}

#savedThemeList {
  min-height: 600px;
  width: var(--content-width);
  background-color: var(--primary-color);
  display: flex;
  list-style-type: none;
}

/* 본문 컨텐츠에 상단 여백 추가 */
body {
  padding: 0;
  margin: 0;
  padding-top: var(--header-height);
  background-color: var(--ui-color);
}

main {  
  height: 100%;
  width: var(--content-width);
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* 본문 내용을 중앙에 정렬 */
  min-height: calc(100vh - var(--header-height)); /* header 높이를 제외한 뷰포트 높이 */
}

nav {
  width: var(--content-width);
  flex-direction: row;
  display: flex;
}

footer {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px 0;
  color: var(--font-color);
  text-align: center;
  bottom: 0;
  left: 0;
}